<app-header></app-header>

<ion-content>
 <div class="container">
   <ion-text><h1>Create Account</h1></ion-text>
   <div class="input">
     <ion-text>Email</ion-text>
     <ion-input placeholder="Enter your email"></ion-input>
   </div>
   <div class="input">
     <ion-text>Master Password</ion-text>
     <ion-input placeholder="Enter company name"></ion-input>
   </div>
   <div class="input">
     <ion-text>Confirm Master Password</ion-text>
     <ion-input placeholder="Enter company name"></ion-input>
   </div>
   <div class="buttons">
     <ion-button routerLink="/guest/register" expand="block" >Register</ion-button>
   </div>
 </div>
</ion-content>
