/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body{
  font-family: 'Comfortaa', cursive;
}
ion-text{
  color: white;
  font-family: 'Comfortaa', cursive;
}
ion-textarea{
  font-family: 'Comfortaa', cursive;
}
ion-content{
  --background: var(--app-dark-purple);
}
app-header{
  height: 120px;
}
ion-input{
  font-family: 'Comfortaa', cursive!important;
  color: white!important;
  background: #231b32!important;
  --padding-start: 15px!important;
  --padding-top: 15px!important;
  --padding-bottom: 15px!important;
  border-radius: 10px;
  border: 1px solid var(--app-light-purple);
}
.container{
  width: 90%;
  margin: auto;
}
